/* Body Design CSS Code */
body{
    box-sizing: content-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 5px auto;
    background: black;
    transform: scale(1);
    width: 100%;
    max-width: 1440px;
}

main>.main-head{
    width: 95%;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 5px;
    letter-spacing: 5px;
    background: black;
    color: white;
    padding: 2px;
    margin: auto;
    text-shadow: 10px 5px 5px 0px red;
}

/* Flex-Container CSS Code */
.flex-container-1, .flex-container-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* Image Width CSS Code */
.banner{
    width: 100%;
    border-radius: 8px;
}

/* Flex-Container Inner Flex-Item CSS Code */
.flex-item{
    width: 25%;
    margin-top: 30px;
    background: white;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 10px 5px 50px rgba(255,255,255,0.5);
}

/* In FLex-Item Have a Content-Div For Content Design CSS Code */
.content{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.content h1{
    font-size: 1.6rem;
}

.content p{
    font-size: 1.4rem;
}

/* FLex-Item Button CSS Code */
.btn{
    padding: 15px;
    margin: 10px;
    text-align: center;
    font-size: 1.4rem;
    background: gray;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: padding 0.3s;
}

.btn:hover{
    color: white;
    background: black;
    padding: 20px;
}

/* Each Flex-Item Position CSS Code */
#flex-item-1{
    align-self: flex-end;
}

#flex-item-2{
    align-self:flex-start;
}

#flex-item-3{
    align-self: flex-end;
}

#flex-item-4{
    align-self: flex-end;
}

#flex-item-5{
    align-self: flex-start;
}

#flex-item-5{
    align-self: flex-end;
}

footer{
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    font-weight: bold;
    word-spacing: 2px;
}

footer a:hover{
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

/* Responsive CSS Code */
@media screen and (max-width: 1120px) {
    body{
        transform: scale(0.9);
        transition: 0.4s;
        padding: 0px;
        margin: 0px;
    }
}

@media screen and (max-width: 1090px) {
    body{
        background: black;
    }
    .flex-item{
        box-shadow: 10px 5px 50px rgba(255,255,255,0.5);
    }
}

@media  all and (max-width: 1000px) {
    body{
        margin-top: -150px;
        transition: 0.4s;
    }

    .flex-container-1, .flex-container-2{
        flex-direction: column;
    }
    .flex-item{
        width: auto;
        transition: 0.4s;
    }

    .content{
        text-align: center;
        transition: 0.4s;
    }

    .btn{
        background:coral;
        color: white;
    }

    #flex-item-1{
        align-self: center;
    }
    
    #flex-item-2{
        align-self: center;
    }
    
    #flex-item-3{
        align-self: center;
    }
    
    #flex-item-4{
        align-self: center;
    }
    
    #flex-item-5{
        align-self: center;
    }
    
    #flex-item-5{
        align-self: center;
    }
}

@media screen and (max-width: 530px) {
    main>.main-head{
        font-size: 1rem;
        transition: 0.4s;
    }
}

@media all and (max-width: 507px) {
    footer{
        line-height: 1.8;
    }
}
